@charset "utf-8";
a, a:visited, address, em, i, s {
	text-decoration: none
}
article, aside, canvas, figure, footer, header, img, nav, section {
	display: block
}
a, a:visited, body, header h1 {
	color: #3c3c3c
}
.mask, .popcon {
	-webkit-box-align: center
}
.alert_box, .btn, .mk_adc, .popc_btnbox a, .popcon_nr, footer .copyright, footer .vpage, header h1 {
	text-align: center
}
.btn_grey, .btn_oran {
	-webkit-box-shadow: 0 0 2px #fff inset
}
.choice_pro_num, .loading i, .loading span, .m-checkbox, .o_checkbox, .sr_checkbox, .va {
	vertical-align: middle
}
.comto_top, .iconfont, .m-checkbox:checked:after, .o_checkbox:checked:after, .sr_checkbox:checked:after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.debug, .top_nav {
	max-width: 800px
}
html {
	font-size: 100px
}
* {
	margin: 0;
	padding: 0
}
input, select, textarea {
	background-color: #fff;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	min-width: 0
}
body {
	background-color: #fff;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
	outline: 0
}
li, ul {
	list-style: none
}
img {
	border: 0
}
table {
	border-collapse: collapse;
	font-size: inherit
}
address, em, i, s {
	font-style: normal
}
.clear {
	clear: both;
	float: none
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	overflow: hidden
}
.clearfix {
	zoom: 1
}
iframe {
	display: none
}
@font-face {
	font-family: iconfont;
	src: url(iconfont/iconfont.eot);
	src: url(iconfont/iconfont.eot?#iefix) format('embedded-opentype'), url(iconfont/iconfont.woff) format('woff'), url(iconfont/iconfont.ttf) format('truetype'), url(iconfont/iconfont.svg#uxiconfont) format('svg')
}
.iconfont {
	font-size: .28rem
}
header {
	position: relative;
	z-index: 1;
	height: .88rem;
	overflow: hidden;
	background-color: #f8f8f8;
	line-height: .88rem;
	border-bottom: #f22e00 solid 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.mask *, .popc_btnbox a {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
header h1 {
	font-weight: 400;
	font-size: .36rem
}
header .search_top_bt, header .t_more, header .top_back, header .top_back i {
	position: absolute;
	color: #6c6c6c
}
header .top_back, header a {
	font-size: .32rem
}
header .top_back {
	top: 0;
	left: .2rem;
	height: 100%;
	padding-left: .4rem
}
header .top_back i {
	left: -.13rem;
	font-size: .48rem
}
header .topnav {
	width: .44rem;
	height: 100%;
	position: absolute;
	top: 0;
	right: .3rem
}
header .topnav a {
	display: inline-block;
	height: .44rem;
	width: 100%;
	margin-top: .2rem;
	background: url(../img/icon_com_nav.png) no-repeat;
	background-size: .44rem auto
}
header .topnav a.cur {
	background-position: 0 bottom
}
header .search_top_bt {
	top: 0;
	right: 0;
	width: .88rem;
	height: .88rem;
	font-size: .35rem;
	text-align: center
}
header .t_more {
	top: 0;
	right: .2rem;
	font-size: .32rem
}
.mask, .pop_loading2, .popalert, .popcon {
	position: fixed;
	left: 0;
	top: 0
}
header .t_more:active {
	color: #f22e00
}
footer {
	padding-bottom: .2rem;
	background-color: #f8f8f8
}
footer .vpage {
	padding: .3rem 0
}
footer .vpage a {
	margin: 0 .2rem;
	color: #9c9c9c
}
footer .vpage a.cur {
	color: #ef7561
}
footer .copyright {
	margin-bottom: .08rem;
	color: #9c9c9c;
	font-size: .24rem
}
.popalert {
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0)
}
.popalert .ic_1 {
	display: inline-block;
	width: .44rem;
	height: .64rem;
	background: url(../img/icon_hint.png) 50% 0 no-repeat;
	background-size: .44rem .44rem
}
.popalert .alertnr {
	color: #fff
}
.alert_box {
	width: 4rem;
	padding: .4rem .3rem;
	margin: 20% auto 0;
	font-size: .28rem;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	background: rgba(0,0,0,.7)
}
.popcon {
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.popcon_box {
	width: 5.6rem;
	margin: 0 auto;
	font-size: .34rem
}
.popcon_nrbox {
	width: 100%;
	background-color: #fff;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	overflow: hidden
}
.popcon_tit {
	height: .6rem;
	padding-left: .2rem;
	line-height: .6rem
}
.popcon_tit .popc_close {
	display: block;
	width: .6rem;
	height: .6rem;
	background: url(../img/pop_close_bg.png) 50% 50% no-repeat;
	background-size: .22rem .22rem
}
.popcon_nr {
	padding: .3rem 0 .8rem
}
.popcon_nr2 {
	padding: .1rem .2rem .2rem
}
.popc_btnbox a {
	display: block;
	float: left;
	width: 50%;
	height: .9rem;
	line-height: .9rem;
	box-sizing: border-box;
	border-top: #c7c7cc solid 1px
}
.popc_btnbox a.btna {
	color: #f22e00
}
.popc_btnbox a.btnb {
	color: #3c3c3c;
	border-right: #c7c7cc solid 1px
}
.mask_5 {
	background: rgba(0,0,0,.5)
}
.mask {
	z-index: 100;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.mask.hide, .mk_bk.hide {
	display: none
}
.mk_btn_bk, .pop_loading2 {
	-webkit-box-align: center
}
.mask * {
	box-sizing: border-box
}
.btn, .pop_loading2 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
.mk_bk {
	width: 5.6rem;
	color: #3c3c3c;
	-webkit-border-radius: .2rem;
	border-radius: .2rem;
	background: #fff
}
.mk_btn_bk, .mk_btn_bk>* {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.mk_adc {
	font-size: .28rem;
	line-height: .36rem;
	width: 100%;
	padding: .6rem
}
.mk_btn_bk {
	font-size: .32rem;
	display: flex;
	color: #6c6c6c;
	border-top: 1px solid #d5d5d5;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.mk_btn_bk>* {
	display: flex;
	height: .87rem;
	border-left: 1px solid #d5d5d5;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.mk_btn_bk>:first-child {
	border-left: none
}
.mk_btn_bk .blue {
	color: #157efb
}
.pop_loading2 {
	z-index: 99;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-sizing: border-box
}
.btn, .choice_pro_num, .m-radio, .o_radio, .spin {
	display: inline-block
}
.spin {
	width: .62rem;
	height: .62rem;
	border: .04rem solid;
	border-color: transparent #f22e00 #f22e00;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spin .8s infinite linear;
	animation: spin .8s infinite linear
}
@-webkit-keyframes spin {
100% {
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@keyframes spin {
100% {
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg)
}
}
.btn {
	line-height: .8rem;
	box-sizing: border-box;
	color: #fff;
	font-size: .42rem
}
.choice_pro_num *, .m-radio, .o_radio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center
}
.btn_oran {
	box-shadow: 0 0 2px #fff inset;
	border: 1px solid #f22e00;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e12b00), to(#f22e00));
	background-image: -webkit-linear-gradient(bottom, #e12b00, #f22e00);
	background-image: linear-gradient(to top, #e12b00, #f22e00)
}
.btn_grey {
	box-shadow: 0 0 2px #fff inset;
	border: 1px solid #ccc;
	background: #ccc
}
.m-checkbox, .o_checkbox, .sr_checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: .46rem;
	height: .46rem;
	line-height: .46rem;
	text-align: center;
	border: .02rem solid #d9d9d9;
	-webkit-border-radius: .06rem;
	border-radius: .06rem;
	background-color: #fff;
	overflow: hidden
}
.m-checkbox:checked:after, .o_checkbox:checked:after, .sr_checkbox:checked:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: attr(data-iconfont);
	font-size: .38rem;
	color: #f22e00
}
.m-checkbox:disabled, .o_checkbox:disabled, .sr_checkbox:disabled {
	background: #eee
}
.m-radio, .o_radio {
	width: .48rem;
	height: .48rem;
	font-size: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: .02rem solid #d8d8d8;
	box-sizing: border-box;
	line-height: 0
}
.m-radio input[type=radio], .o_radio input[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: .2rem;
	height: .2rem;
	margin: .12rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #fff;
	vertical-align: middle
}
.m-radio input[type=radio]:checked, .o_radio input[type=radio]:checked {
	background-color: #ad1c00
}
.choice_pro_num {
	width: 1.92rem;
	background-color: #f8f8f8;
	border: 1px solid #c7c7cc;
	-webkit-border-radius: .06rem;
	border-radius: .06rem
}
.choice_pro_num * {
	display: block;
	float: left;
	width: .64rem;
	height: .64rem;
	line-height: .64rem;
	box-sizing: border-box
}
.choice-pro-num, .choice_pro_num_new, .hr1 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
.choice_pro_num input {
	font-size: .28rem;
	background-color: #fff;
	border: 0
}
.choice_pro_num a {
	background: url(../img/zjnum_bg.png) no-repeat;
	background-size: .24rem .88rem
}
.choice_pro_num a:active {
	background-color: #eee
}
.choice_pro_num a.redu {
	background-position: center .32rem;
	border-right: #c7c7cc solid 1px
}
.choice_pro_num a.add {
	background-position: center -.44rem;
	border-left: #c7c7cc solid 1px
}
.choice-pro-num, .choice_pro_num_new {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 1.92rem;
	background-color: #f8f8f8;
	border: 1px solid #c7c7cc;
	-webkit-border-radius: .06rem;
	border-radius: .06rem;
	box-sizing: border-box;
	overflow: hidden
}
.choice-pro-num>*, .choice_pro_num_new>* {
	display: block;
	height: .62rem;
	line-height: .62rem;
	text-align: center
}
.choice-pro-num>input, .choice_pro_num_new>input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	min-width: 0;
	font-size: .28rem;
	background-color: #fff;
	border: 0;
	color: #3c3c3c;
	border-right: 1px solid #c7c7cc;
	border-left: 1px solid #c7c7cc;
	-webkit-border-radius: 0;
	border-radius: 0
}
.choice-pro-num>span, .choice_pro_num_new>span {
	-webkit-box-flex: 0;
	-webkit-flex: none;
	-moz-box-flex: 0;
	-ms-flex: none;
	flex: none;
	width: .64rem;
	color: #9c9c9c;
	font-size: .23rem
}
.choice-pro-num>span:active, .choice_pro_num_new>span:active {
	background-color: #c7c7cc
}
.choice-pro-num>span.not, .choice_pro_num_new>span.not {
	color: #c7c7cc;
	background-color: #f8f8f8
}
.form-group, .form_group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 1rem;
	border-bottom: 1px solid #a7a7a7;
	font-size: .32rem
}
.form-group>*, .show {
	display: block
}
.form-control, .form_control {
	padding: .06rem .12rem;
	font-size: .32rem;
	background: 0 0
}
.fbox, .mbox, .pbox, .wbox, footer, header {
	width: 100%;
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto;
	font-size: .28rem
}
.bgeee, .mbox {
	background-color: #eee
}
.wbox {
	background-color: #fff
}
.bgf8, .fbox {
	background-color: #f8f8f8
}
.hide {
	display: none
}
.hide_it {
	display: none!important
}
.jbl_com, .loading i {
	display: inline-block
}
.fl {
	float: left
}
.fr {
	float: right
}
.ora {
	color: #f22e00
}
.hbd {
	height: 100%
}
.wbd {
	width: 100%
}
.bor0 {
	border: 0
}
.bor_top0 {
	border-top: 0
}
.f24 {
	font-size: .24rem
}
.f26 {
	font-size: .26rem
}
.f22 {
	font-size: .22rem
}
.f32 {
	font-size: .32rem
}
.op4 {
	opacity: .4
}
.white {
	color: #fff
}
.bg_white {
	background-color: #fff
}
.bg_f22 {
	background-color: #f22e00
}
.c3c {
	color: #3c3c3c
}
.c6c {
	color: #6c6c6c
}
.c9c {
	color: #9c9c9c
}
.cf22 {
	color: #f22e00
}
.c7a {
	color: #7abd54
}
.c06c {
	color: #06c
}
.jbl_com, .jbl_com:visited {
	color: #fff
}
.marg_20 {
	margin: .2rem
}
.marg_tb20 {
	margin: .2rem 0
}
.marg_lr20 {
	margin: 0 .2rem
}
.marg_top20 {
	margin-top: .2rem
}
.marg_r20 {
	margin-right: .2rem
}
.marg_btm20 {
	margin-bottom: .2rem
}
.marg_l20 {
	margin-left: .2rem
}
.padd_20 {
	padding: .2rem
}
.padd_tb20 {
	padding: .2rem 0
}
.padd_lr20 {
	padding: 0 .2rem
}
.padd_top20 {
	padding-top: .2rem
}
.padd_r20 {
	padding-right: .2rem
}
.padd_btm20 {
	padding-bottom: .2rem
}
.padd_l20 {
	padding-left: .2rem
}
.marg_30 {
	margin: .3rem
}
.marg_tb30 {
	margin: .3rem 0
}
.marg_lr30 {
	margin: 0 .3rem
}
.marg_top30 {
	margin-top: .3rem
}
.marg_r30 {
	margin-right: .3rem
}
.marg_btm30 {
	margin-bottom: .3rem
}
.marg_l30 {
	margin-left: .3rem
}
.padd_30 {
	padding: .3rem
}
.padd_tb30 {
	padding: .3rem 0
}
.padd_lr30 {
	padding: 0 .3rem
}
.padd_top30 {
	padding-top: .3rem
}
.padd_r30 {
	padding-right: .3rem
}
.padd_btm30 {
	padding-bottom: .3rem
}
.padd_l30 {
	padding-left: .3rem
}
.marg_60 {
	margin: .6rem
}
.marg_tb60 {
	margin: .6rem 0
}
.marg_lr60 {
	margin: 0 .6rem
}
.marg_top60 {
	margin-top: .6rem
}
.marg_r60 {
	margin-right: .6rem
}
.marg_btm60 {
	margin-bottom: .6rem
}
.marg_l60 {
	margin-left: .6rem
}
.padd_60 {
	padding: .6rem
}
.padd_tb60 {
	padding: .6rem 0
}
.padd_lr60 {
	padding: 0 .6rem
}
.padd_top60 {
	padding-top: .6rem
}
.padd_r60 {
	padding-right: .6rem
}
.padd_btm60 {
	padding-bottom: .6rem
}
.padd_l60 {
	padding-left: .6rem
}
.hr1 {
	height: .22rem;
	border-top: 1px solid #c7c7cc;
	border-bottom: 1px solid #c7c7cc;
	background: #f8f8f8;
	box-sizing: border-box
}
.jbl_com, .search_top_box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
.z1 {
	z-index: 1
}
.z100 {
	z-index: 100
}
.jbl_com {
	line-height: .8rem;
	font-size: .42rem;
	text-align: center;
	box-sizing: border-box;
	-webkit-border-radius: .06rem;
	border-radius: .06rem
}
.loading, .null_page {
	font-size: .28rem;
	text-align: center
}
.jbl_grey {
	background-color: #ccc;
	border: 1px solid #ccc
}
.jbl_grey:active {
	background-color: #b3b3b3
}
.jbl_oran {
	background: -webkit-gradient(linear, left bottom, left top, from(#D4464C), to(#DB384C)) #DB384C;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#D4464C), to(#DB384C));
	background-image: -webkit-linear-gradient(bottom, #D4464C, #DB384C);
	background-image: linear-gradient(to top, #D4464C, #DB384C);
	-webkit-box-shadow: 0 0 2px #fff inset;
	box-shadow: 0 0 2px #fff inset
}
.jbl_oran:active {
	background: -webkit-gradient(linear, left bottom, left top, from(#fb552e), to(#e12c01)) #fb552e;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#fb552e), to(#e12c01));
	background-image: -webkit-linear-gradient(bottom, #fb552e, #e12c01);
	background-image: linear-gradient(to top, #fb552e, #e12c01)
}
.loading {
	padding: .3rem 0
}
.loading i {
	width: .42rem;
	height: .32rem;
	background: url(../img/loading32x32.gif) no-repeat;
	background-size: .32rem .32rem
}
.pop_loading {
	position: fixed;
	top: 45%;
	left: 45%;
	width: 10%;
	height: .62rem;
	background: url(../img/loading62x62.gif) center 0 no-repeat;
	background-size: .62rem .62rem
}
.null_page {
	display: none;
	color: #9c9c9c;
	padding: 20% 0 30%
}
.null_page p {
	background: url(../img/null_page_bg.png) center center no-repeat;
	background-size: 1.9rem 1.9rem;
	padding-top: 2.5rem
}
.pop_search {
	position: absolute;
	top: .88rem;
	left: 0;
	z-index: 98;
	width: 100%;
	background-color: rgba(0,0,0,.3)
}
.search_top_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	box-sizing: border-box;
	height: .7rem;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.btn_b, .debug, .debug .msg {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
.search_top_box .iconfont {
	display: block;
	width: .74rem;
	color: #ccc;
	font-size: .35rem;
	text-align: center;
	border: 0;
	background: 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}
.search_top_box input {
	display: block;
	padding-right: .1rem;
	font-size: .28rem;
	border: 0;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.sear_box_d {
	width: 6rem;
	margin: .3rem auto 0
}
.sear_box_d .search_top_list {
	background-color: #fff;
	font-size: .32rem;
	max-height: 6.4rem;
	overflow: auto
}
.sear_box_d .search_top_list li {
	height: .78rem;
	line-height: .78rem;
	color: #6c6c6c
}
.btn_b, .comto_top {
	line-height: .8rem
}
.btn_b, .btn_b:visited {
	color: #fff
}
.sear_box_d .search_top_list li span {
	display: block;
	margin: 0 .2rem;
	border-bottom: #eee dashed 1px
}
.sear_box_d .search_top_list li:last-child span {
	border: 0
}
.comto_top, .lr_btn_ora {
	-webkit-border-radius: .1rem
}
.btn_b {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	font-size: .42rem
}
.lr_btn_ora {
	width: 100%;
	border-radius: .1rem;
	border: 1px solid #cd2700;
	-webkit-box-shadow: 0 0 1px #fff inset;
	box-shadow: 0 0 1px #fff inset;
	background: -webkit-gradient(linear, left bottom, left top, from(#e12b00), to(#f22e00)) #e12b00;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#e12b00), to(#f22e00));
	background-image: -webkit-linear-gradient(bottom, #e12b00, #f22e00);
	background-image: linear-gradient(to top, #e12b00, #f22e00)
}
.lr_btn_ora:active {
	background: -webkit-gradient(linear, left bottom, left top, from(#fb552e), to(#e12c01)) #e12b00;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#fb552e), to(#e12c01));
	background-image: -webkit-linear-gradient(bottom, #fb552e, #e12c01);
	background-image: linear-gradient(to top, #fb552e, #e12c01)
}
.btn_b:disabled {
	background: #b3b3b3;
	border: 1px solid #b3b3b3
}
.foot_nav {
	font-size: .28rem;
	width: 100%;
	background-color: #ebebeb;
	height: 1.1rem;
	border-bottom: #ddd solid 1px;
	border-top: #ddd solid 1px;
	position: fixed;
	left: -100%;
	bottom: 0;
	z-index: 66
}
.bnav_h em, .foot_nav .cartnum {
	font-size: .24rem;
	text-align: center;
	line-height: .4rem;
	color: #fff
}
.foot_nav li {
	float: left;
	width: 23%;
	text-align: center
}
.foot_nav li a {
	display: block;
	padding-top: .16rem
}
.foot_nav em {
	position: relative;
	display: inline-block;
	width: .48rem;
	height: .48rem;
	background: url(../img/fnav_icon.png) no-repeat;
	background-size: .46rem 4.2rem
}
.foot_nav .cartnum {
	position: absolute;
	width: .4rem;
	height: .4rem;
	background-color: #f22e00;
	right: -.2rem;
	top: -.2rem;
	-webkit-border-radius: .4rem;
	border-radius: .4rem
}
.foot_nav a em.b_one {
	background-position: 0 -.44rem
}
.foot_nav a em.b_two {
	background-position: 0 -1.58rem
}
.foot_nav a em.b_three {
	background-position: 0 -2.6rem
}
.foot_nav a em.b_four {
	background-position: 0 -3.68rem
}
.foot_nav a:active em.b_one {
	background-position: 0 .04rem
}
.foot_nav a:active em.b_two {
	background-position: 0 -1.02rem
}
.foot_nav a:active em.b_three {
	background-position: 0 -2.1rem
}
.foot_nav a:active em.b_four {
	background-position: 0 -3.1rem
}
.foot_nav .fri {
	position: absolute;
	right: 0;
	top: 0;
	width: .54rem;
	height: 1.12rem;
	background: url(../img/fri.png) 0 center no-repeat
}
.bnav_h {
	width: 1.06rem;
	height: 1.12rem;
	position: fixed;
	z-index: 88;
	left: 0;
	bottom: 0;
	background: url(../img/fniu.png) no-repeat;
	background-size: 1.06rem 1.12rem
}
.bnav_h em {
	position: absolute;
	width: .4rem;
	height: .4rem;
	background-color: #f22e00;
	right: 0;
	top: -.1rem;
	-webkit-border-radius: .4rem;
	border-radius: .4rem
}
#top_nav_checked {
	display: none
}
#top_nav_checked:checked+.top_nav>label {
	color: #F47F63
}
#top_nav_checked:checked+.top_nav ul {
	height: 1.2rem
}
.top_nav {
	background-color: #fff;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	font-size: .28rem;
	position: relative;
	border-bottom: #c7c7cc solid 1px
}
.top_nav>label {
	position: absolute;
	z-index: 10;
	top: -.88rem;
	right: .27rem;
	height: .88rem;
	color: #ccc;
	font-size: .5rem;
	line-height: .88rem
}
.comto_top, .comtop_back {
	z-index: 99;
	text-align: center
}
.top_nav ul {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	overflow: hidden;
	height: 0;
	margin-top: -1px
}
.top_nav li {
	float: left;
	width: 25%;
	text-align: center
}
.top_nav li em {
	display: inline-block;
	width: .48rem;
	height: .48rem;
	background: url(../img/topnav_icon.png) no-repeat;
	background-size: .46rem 4.2rem
}
.top_nav li a {
	display: block;
	padding-top: .16rem
}
.top_nav li a em.b_one {
	background-position: 0 -.54rem
}
.top_nav li a em.b_two {
	background-position: 0 -1.6rem
}
.top_nav li a em.b_three {
	background-position: 0 -2.68rem
}
.top_nav li a em.b_four {
	background-position: 0 -3.72rem
}
.top_nav li a:active {
	color: #f22e00
}
.top_nav li a:active em.b_one {
	background-position: 0 0
}
.top_nav li a:active em.b_two {
	background-position: 0 -1.08rem
}
.top_nav li a:active em.b_three {
	background-position: 0 -2.14rem
}
.top_nav li a:active em.b_four {
	background-position: 0 -3.2rem
}
.comtop_back {
	position: fixed;
	display: block;
	right: 10px;
	bottom: 30px;
	height: .42rem;
	width: .9rem;
	padding-top: .48rem;
	color: #fff;
	font-size: .24rem;
	-webkit-border-radius: .9rem;
	border-radius: .9rem;
	background: url(../img/backtop_bg.png) center .14rem no-repeat rgba(0,0,0,.3);
	background-size: .3rem .3rem
}
.comtop_back:active {
	background-color: rgba(0,0,0,.5)
}
.comtop_back:visited {
	color: #fff
}
.sr_checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: .46rem;
	height: .46rem;
	border: .02rem solid #d9d9d9;
	-webkit-border-radius: .06rem;
	border-radius: .06rem
}
.sr_checkbox:disabled {
	background: #f8f8f8!important
}
.sr_checkbox:checked {
	background: url(../img/coll_check.png) center center no-repeat;
	background-size: .32rem .24rem
}
.sr_checkbox.ts {
	background: url(../img/loading32x32.gif) center center no-repeat #fff;
	background-size: .32rem .32rem
}
.comto_top {
	position: fixed;
	right: .1rem;
	bottom: 1.2rem;
	height: .8rem;
	width: .8rem;
	color: #fff;
	font-size: .5rem;
	border-radius: .1rem;
	background: rgba(0,0,0,.2)
}
.comto_top:active {
	background-color: rgba(0,0,0,.5)
}
.blank .blank_img {
	width: 100%;
	margin-top: 1rem
}
.blank p {
	text-align: center;
	color: #6c6c6c;
	font-size: .36rem;
	line-height: .44rem
}
.debug {
	position: absolute;
	top: .2rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	padding: 0 .2rem;
	pointer-events: none;
	z-index: 20;
	box-sizing: border-box
}
.debug .msg {
	position: relative;
	margin-bottom: .1rem;
	padding: .2rem;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	word-break: break-all;
	color: #fff;
	background: rgba(0,0,0,.4);
	box-sizing: border-box
}
.debug .close {
	padding: .05rem;
	color: #fff;
	position: absolute;
	right: -.1rem;
	bottom: -.1rem;
	pointer-events: auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

@media screen and (max-width:800px) {
html {
	font-size: 50px
}
}
html {
	font-family: 'Helvetica Neue', Helvetica
}
