@charset "utf-8";
.btn, .fnwap_number {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-align: center
}
.btn {
	font-size: .28rem;
	display: flex;
	min-width: 1.67rem;
	height: .54rem;
	color: #333;
	border: .02rem solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.btn_de, .btn_red {
	border: none;
	color: #fff
}
.btn_lg {
	font-size: .36rem;
	min-width: 1.8rem;
	height: .84rem
}
.btn_red {
	background: #db384c
}
.btn_de {
	background: #888
}
.com_checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: .4rem;
	height: .4rem;
	border: .02rem solid #888;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.com_checkbox:checked {
	position: relative;
	border-color: #db384c;
	background-color: #db384c
}
.com_checkbox:checked:after {
	position: absolute;
	top: .07rem;
	left: .03rem;
	display: block;
	width: .24rem;
	height: .12rem;
	content: '';
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: #fff solid .04rem;
	border-left: #fff solid .04rem
}
.progress .on p:nth-child(3):before, .progress p:nth-child(3):after {
	content: '';
	top: 50%;
	left: 50%;
	-o-transform: translate(-50%, -50%)
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
appearance:none!important;
-webkit-appearance:none!important;
margin:0
}
input[type=number] {
	-moz-appearance: textfield
}
.fnwap_number {
	display: flex;
	overflow: hidden;
	width: 1.72rem;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.fnwap_number .nr_left, .fnwap_number .nr_right {
	font-size: .36rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: .56rem;
	height: .56rem;
	background: #eee;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.fnwap_number .nr_left {
	border-right: 1px solid #d5d5d5
}
.fnwap_number .nr_right {
	border-left: 1px solid #d5d5d5
}
.fnwap_number input {
	display: block;
	min-width: 0;
	margin: 0 .06rem;
	text-align: center;
	border: none;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.fnwap_choice_circle .new_copy, .progress {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.fnwap_choice_circle .new_copy {
	width: .4rem;
	height: .4rem;
	line-height: .4rem;
	border: .02rem solid #d5d5d5;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .18s;
	-o-transition: .18s;
	transition: .18s;
	background: #fff
}
.fnwap_choice_circle i {
	display: none
}
.fnwap_choice_circle input {
	display: none!important
}
.fnwap_choice_circle input:checked+.new_copy {
	background: #db384c;
	border-color: #db384c
}
.fnwap_choice_circle input:checked+.new_copy i:nth-child(1) {
	display: block;
	color: #fff
}
.fnwap_choice_circle input:disabled+.new_copy {
	border: none
}
.fnwap_choice_circle input:disabled+.new_copy i:nth-child(2) {
	display: block;
	color: #d5d5d5;
	font-size: .5rem;
	margin-left: -.07rem
}
.fnwap_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: .24rem;
	display: block;
	width: 100%;
	padding: .06rem .12rem;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	background-color: #fff
}
.progress {
	padding: .2rem .32rem .2rem 0;
	margin-left: .32rem;
	border-top: 1px solid #d5d5d5;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	algin-items: center
}
.progress li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: #666
}
.progress li:nth-child(1) p:nth-child(3) i {
	border: 0
}
.progress p:nth-child(1), .progress p:nth-child(2) {
	height: .32rem
}
.progress p:nth-child(3) {
	margin: .32rem 0;
	position: relative;
	width: 100%
}
.progress p:nth-child(3):after {
	position: absolute;
	width: .16rem;
	height: .16rem;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background-color: #d5d5d5;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
.progress p:nth-child(3) i {
	position: absolute;
	width: 100%;
	height: 0;
	top: 50%;
	right: 50%;
	border-top: 1px dashed #d5d5d5
}
.detail .box .message, .progress .off p:nth-child(3) i, .progress .on p:nth-child(3) i {
	border-top: 1px solid #d5d5d5
}
.progress .on p:nth-child(3):before {
	position: absolute;
	width: .32rem;
	height: .32rem;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	background-color: #CAD2EB;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1
}
.progress .on p:nth-child(3):after {
	width: .25rem;
	height: .25rem;
	background-color: #6679B3;
	z-index: 2
}
.progress .on p:nth-child(4) {
	color: #6679B3
}
.progress .off p:nth-child(4) {
	color: #888
}
.top_box {
	position: relative
}
.top_box h1 {
	display: inline-block;
	width: 100%
}
.top_box h1>a {
	position: absolute;
	z-index: 6;
	right: .24rem;
	height: .88rem;
	line-height: .88rem;
	font-size: .6rem;
	font-size: .6rem;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-position: 0rem 0.26rem;
    width: 0.45rem;
    background-size: 0.45rem;
}
.detail .box {
	background-color: #fff;
	overflow: hidden
}
.detail .box .package_title {
	height: 1.16rem;
	padding-top: .2rem;
	font-weight: 700
}
.detail .box .order_tips {
	margin-bottom: .18rem;
	border-bottom: 1px solid #d5d5d5
}
.detail .box .message {
	margin-left: .24rem
}
.detail .box .message i {
	margin-right: .14rem;
	color: #db384c
}
.detail .box .message p {
	color: #333
}
.detail .box .message p:nth-child(1) {
	padding: .2rem 0
}
.detail .box .message p:nth-child(1) span {
	font-weight: 700
}
.detail .box .message p:nth-child(2) {
	padding: 0 0 .2rem .35rem;
	line-height: .38rem
}
.detail .package_title {
	overflow: hidden
}
.detail .package_title .package_num {
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	display: inline-block;
	padding-right: .12rem;
	font-size: .28rem;
	float: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 75%
}
.detail .package_title .package_num p {
	font-weight: 400;
	font-size: .24rem;
	color: #999;
	width: 100%;
	padding: .1rem 0 0 .75rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.detail .package_title .package_num span {
	text-align: center;
	margin-right: .12rem;
	display: inline-block
}
.detail .package_title .package_num span:before {
	font-family: iconfont!important;
	font-style: normal;
	content: '';
	font-size: .36rem;
	display: inline-block;
	color: #db384c;
	padding: 0 .24rem 0 .14rem;
	background-image: url(../images/ys.png);
    background-repeat: no-repeat;
    background-position: 0.2rem;
    background-size: 0.35rem;
    width: 0.35rem;
    vertical-align: bottom;
    height: 0.35rem;
}
.detail .package_title .status {
	float: right;
	font-weight: 700;
	line-height: .56rem;
	text-align: right;
	overflow: hidden;
	padding-right: .24rem
}
.detail .package_title .status p:nth-child(1) {
	color: #db384c
}
.detail .package_title .status p:nth-child(2) {
	color: #888;
	font-size: .24rem;
	font-weight: 400;
	max-height: .28rem;
	overflow: hidden
}
.detail .package_title .status a {
	height: .28rem;
	line-height: .28rem;
	color: #333;
	font-size: .24rem;
	font-weight: 400;
	margin-right: .2rem;
	padding-right: .2rem;
	border-right: 1px solid #888;
	display: none
}
.detail .package_title .status .btn_red {
	display: inline-block;
	text-align: center;
	font-weight: 400;
	color: #fff!important
}
.detail .package_title .status_two {
	line-height: .56rem;
	padding-right: .24rem
}
.detail .package_list {
	border-bottom: 1px solid #fff;
	height: 1.62rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: .24rem;
	padding: .2rem .24rem;
	background: #f9f9f9
}
.detail .package_list li:nth-child(1) {
	margin-right: .2rem;
	height: 1.2rem;
	width: 1.2rem;
	position: relative
}
.detail .package_list li:nth-child(1) img {
	width: 100%;
	height: 100%
}
.detail .package_list li:nth-child(2) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 1.2rem;
	padding-top: .08rem
}
.detail .package_list li:nth-child(2)>div {
	height: .64rem;
	line-height: .32rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
.detail .package_list li:nth-child(2)>div>p {
	vertical-align: top
}
.detail .package_list li:nth-child(2) .member {
	padding-top: .3rem;
	color: #666
}
.detail .package_list li:nth-child(2)>p {
	margin-top: .12rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: .24rem;
	color: #888
}
.detail .package_list li:nth-child(2) span {
	font-size: .2rem;
	background-color: #db384c;
	color: #fff;
	margin-right: .05rem;
	display: inline-block
}
.detail .package_list li:nth-child(3) {
	width: 1.6rem;
	text-align: right;
	font-weight: 700
}
.detail .package_list li:nth-child(3) p {
	padding-top: .08rem;
	height: .6rem
}
.detail .package_list li:nth-child(3) p:last-child {
	padding-top: 0;
	line-height: .6rem
}
.detail .basic_pay_bar {
	white-space: nowrap
}
.detail .special_offers ul {
	padding-left: .24rem
}
.detail .special_offers .tips_title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: .2rem .24rem .2rem 0
}
.detail .special_offers .tips {
	color: #fff;
	background-color: #db384c;
	font-size: .21rem;
	padding: .01rem .02rem
}
.detail .special_offers .money_sum {
	font-size: .24rem;
	font-weight: 700
}
.detail .special_offers .package_list {
	margin-left: 0;
	border: 0;
	padding: 0 .24rem .2rem;
	height: auto
}
.detail .special_offers .package_list:nth-child(1) {
	padding-top: .2rem
}
.detail .special_offers .share-content {
	background-color: #f9f9f9;
	padding: 0 .24rem .2rem
}
.detail .special_offers .share-content span {
	font-size: .2rem;
	background-color: #db384c;
	color: #fff;
	margin-right: .05rem;
	display: inline-block
}
.detail .info_title, .detail .info_title li:nth-child(2)>span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox
}
.detail .info_title {
	display: -moz-box;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 .24rem
}
.detail .info_title li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.detail .info_title li:nth-child(2)>span {
	color: #007AFF;
	text-align: right;
	float: right;
	display: -moz-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.detail .info_title li .iconfont {
	font-size: .44rem;
	font-weight: 100
}
.detail .info_content {
	border-top: 1px solid #d5d5d5;
	padding: .1rem .24rem .1rem 0;
	margin-left: .24rem
}
.detail .info_content li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	padding: .1rem 0;
	color: #888
}
.detail .info_content li.one {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.detail .info_content li.one span {
	width: auto
}
.detail .info_content li span {
	width: 2.4rem
}
.detail .info_content li span:nth-child(2) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
	color: #333;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.detail .price li>span:nth-child(1), .detail .total {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox
}
.detail .info_content li .red, .detail .info_content li span:nth-child(2).red {
	color: #db384c
}
.detail .info_content .tips {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	width: 100%;
	white-space: nowrap
}
.detail .price li>span:nth-child(1) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: flex-star;
	-webkit-justify-content: flex-star;
	-moz-box-pack: flex-star;
	-ms-flex-pack: flex-star;
	justify-content: flex-star
}
.detail .price li>span:nth-child(2) {
	-webkit-box-flex: inherit;
	-webkit-flex: inherit;
	-moz-box-flex: inherit;
	-ms-flex: inherit;
	flex: inherit
}
.detail .total {
	position: relative;
	left: 0;
	bottom: 0;
	height: 1.18rem;
	padding: .16rem .24rem;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	opacity: .9;
	width: 100%;
	border-top: 1px solid #fff
}
.detail .total em {
	color: #db384c;
	font-size: .4rem
}
.detail .total i {
	font-size: .24rem;
	color: #333;
	padding-left: .04rem
}
.detail .total span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.detail .total .finalpayment {
	display: inline;
	position: absolute;
	right: .24rem;
	top: .18rem;
	text-align: right
}
.detail .total .finalpayment em {
	color: #666;
	font-size: .28rem;
	padding-bottom: .02rem
}
.detail .total .finalpayment em:last-child {
	font-size: .24rem
}
.detail .total .cancel {
	position: absolute;
	right: .24rem;
	border: 2px solid #666;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: .32rem;
	color: #333
}
.detail .total .btn_red {
	color: #fff
}
.detail .total_fix {
	position: fixed;
	border-top: 1px solid #d5d5d5
}
.detail .site_remind {
	padding: .1rem .34rem .1rem 0;
	margin-left: .24rem;
	position: relative
}
.detail .site_remind a, .detail .site_remind div.invoice-block {
	width: 100%;
	color: #888;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.detail .site_remind i {
	font-size: .4rem;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}
.detail .site_remind span {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.detail .return_remind {
	padding: .24rem .24rem .24rem 0
}
.detail .return_remind a {
	color: #333;
	padding-right: .4rem
}
.detail .box_cancel {
	position: relative;
	height: .88rem;
	border-top: 1px solid #d5d5d5;
	margin-left: .2rem
}
.detail .box_cancel>p {
	padding: .5rem
}
.detail .box_cancel .cancel, .detail .box_cancel .confirmReceived {
	width: 1.66rem;
	text-align: center;
	padding: .1rem;
	font-size: .28rem;
	float: right
}
.detail .box_cancel .cancel {
	border: 1px solid #666;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #888;
	margin: .15rem .2rem
}
.detail .box_cancel .confirmReceived {
	border: 1px solid #db384c;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #db384c;
	margin: .15rem .2rem 0 0
}
.detail .request_invoices {
	border-top: 1px solid #d5d5d5;
	margin-left: 0;
	padding: .2rem .24rem
}
.detail .request_invoices a {
	color: #333
}
.detail .request_invoices p {
	font-size: .32rem;
	font-weight: 700;
	display: block;
	color: #333;
	padding: .2rem 0
}
.detail .request_invoices span {
	color: #888;
	display: block;
	padding: .2rem 0;
	text-align: right
}
.detail .request_invoices .voudes {
	color: #888;
	text-align: right;
	font-size: .26rem;
	padding: .1rem 0
}
.detail .request_invoices .voudes em {
	display: block;
	font-size: .24rem;
	width: inherit;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.detail .request_invoices .voudes_d {
	position: relative
}
.detail .request_invoices .voudes_d em {
	padding-right: .3rem
}
.detail .request_invoices .voudes_d:after {
	font-family: iconfont!important;
	font-style: normal;
	content: '\e60b';
	font-size: .36rem;
	display: block;
	position: absolute;
	right: 0;
	top: 25%
}
.pay_info li, .pay_info li p.left {
	position: relative
}
.detail .activity_list {
	margin: 0 .24rem
}
.detail .activity_list li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666;
	margin-bottom: .16rem
}
.detail .activity_list li span {
	font-size: .24rem
}
.detail .activity_list li span:nth-child(1) {
	background-color: #db384c;
	color: #fff;
	padding: .05rem .08rem;
	font-size: .21rem;
	margin-right: .16rem
}
.detail .activity_list li span:nth-child(2) {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: .27rem
}
.hr1 {
	border: 0
}
.pre_prompt {
	line-height: .6rem;
	background: #fff4e8;
	text-align: center;
	font-size: .24rem
}
.pre_prompt i {
	font-size: .38rem;
	padding-right: .08rem
}
.pre_prompt span {
	color: #db384c;
	padding: 0 .05rem
}
.pay_info {
	background: #fff;
	border-top: 1px solid #d5d5d5;
	padding: .3rem .24rem
}
.pay_info li {
	font-size: .28rem;
	color: #999;
	padding-bottom: .05rem
}
.pay_info li.nopaid, .pay_info li.paid {
	color: #333
}
.pay_info li p.left b {
	width: .16rem;
	height: .16rem;
	display: inline-block;
	background: #ddd;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: .15rem
}
.pay_info li p.right {
	position: absolute;
	right: 0;
	top: 0
}
.pay_info li:first-child {
	margin-bottom: .15rem
}
.pay_info li:first-child i {
	width: 0;
	height: .56rem;
	border-left: 1px dashed #d5d5d5;
	position: absolute;
	left: .07rem;
	top: .12rem
}
.pay_info li.paid p.left b {
	background: #999
}
.pay_info li.nopaid p.left, .pay_info li.nopaid p.right span {
	color: #db384c
}
.pay_info li.nopaid p.left b {
	width: .24rem;
	height: .24rem;
	background: #db384c;
	margin-left: -.04rem;
	border: .04rem solid #f1aeb6
}
.pay_info li.hint {
	font-size: .24rem;
	color: #999;
	text-align: right
}
