@charset "utf-8";
.loading_btm b, .loading_btm b:before, .loading_btm em, .loading_btm i, .loading_pop b:before, .va {
	vertical-align: middle
}
.top_box h1, h1, h2, h3 {
	font-weight: 400
}
.clearfix:after, article, aside, canvas, figure, footer, header, img, nav, section {
	display: block
}
.gotop:after, .iconfont {
	font-family: iconfont!important
}
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	tap-highlight-color: transparent;
	font-size: .28rem
}
.debug, .debug .msg {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box
}
html {
	font-size: 100px
}
button, input, select, textarea {
	background-color: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	min-width: 0
}
body {
	color: #333;
	background-color: #fff;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: transparent
}
ol, ul {
	list-style: none
}
address, del, em, i {
	font-style: normal;
	text-decoration: none
}
img {
	border: 0
}
a, a:visited {
	color: #333;
	text-decoration: none
}
.clearfix:after {
	clear: both;
	content: "";
	height: 0;
	overflow: hidden
}
@font-face {
	font-family: iconfont;
	src: url(iconfont/iconfont.eot);
	src: url(iconfont/iconfont.eot?#iefix) format('embedded-opentype'), url(iconfont/iconfont.woff) format('woff'), url(iconfont/iconfont.ttf) format('truetype'), url(iconfont/iconfont.svg#uxiconfont) format('svg')
}
.iconfont {
	font-size: .28rem;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.top_box {
	position: relative;
	height: .88rem;
	overflow: hidden;
	background-color: #eee;
	border-bottom: #d5d5d5 solid 1px
}
.top_box h1 {
	color: #333;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: .36rem;
	line-height: .88rem
}
.top_box .top_back {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: .8rem;
	height: .8rem
}
.top_box .top_back:after {
	content: '';
	position: absolute;
	left: 40%;
	top: 50%;
	margin-top: -.16rem;
	height: .32rem;
	width: .32rem;
	border-left: #333 solid .04rem;
	border-bottom: #333 solid .04rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
.foot_nav, .top_nav {
	border-bottom: #d5d5d5 solid 1px
}
.top_box .more {
	color: #666;
	font-size: .32rem;
	position: absolute;
	right: .2rem;
	top: 0;
	line-height: .88rem
}
#top_nav_checked {
	display: none
}
#top_nav_checked:checked+.top_nav>label {
	color: #db384c
}
#top_nav_checked:checked+.top_nav ul {
	height: 1.2rem
}
.top_nav {
	background-color: #fff;
	width: 100%;
	font-size: .28rem;
	position: relative
}
.top_nav>label {
	position: absolute;
	z-index: 6;
	top: -.88rem;
	right: .26rem;
	height: .88rem;
	line-height: .88rem;
	color: #ccc;
	font-size: .5rem
}
.top_nav ul {
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	overflow: hidden;
	height: 0;
	margin-top: -1px
}
.top_nav li {
	float: left;
	width: 25%;
	text-align: center
}
.top_nav li em {
	display: inline-block;
	width: .48rem;
	height: .48rem;
	background: url(../images/topnav_icon.png) no-repeat;
	background-size: .46rem 4.2rem
}
.foot_nav, .footer_box {
	background-color: #eee
}
.top_nav li em::before {
	display: none
}
.top_nav li a {
	display: block;
	padding-top: .16rem
}
.top_nav li a em.b_one {
	background-position: 0 -.54rem
}
.top_nav li a em.b_two {
	background-position: 0 -1.6rem
}
.top_nav li a em.b_three {
	background-position: 0 -2.68rem
}
.top_nav li a em.b_four {
	background-position: 0 -3.72rem
}
.top_nav li a:active {
	color: #db384c
}
.top_nav li a:active em.b_one {
	background-position: 0 0
}
.top_nav li a:active em.b_two {
	background-position: 0 -1.08rem
}
.top_nav li a:active em.b_three {
	background-position: 0 -2.14rem
}
.top_nav li a:active em.b_four {
	background-position: 0 -3.2rem
}
.footer_box {
	padding-bottom: .2rem;
	font-size: .28rem
}
.footer_box .vpage {
	padding: .3rem 0;
	text-align: center
}
.footer_box .vpage a {
	margin: 0 .2rem;
	color: #333
}
.footer_box .vpage a.cur {
	color: #ef7561
}
.footer_box .copyright {
	margin-bottom: .08rem;
	color: #333;
	font-size: .24rem;
	text-align: center
}
.foot_nav {
	font-size: .28rem;
	width: 100%;
	height: 1.1rem;
	border-top: #d5d5d5 solid 1px;
	position: fixed;
	left: -100%;
	bottom: 0;
	z-index: 6
}
.foot_nav li {
	float: left;
	width: 23%;
	text-align: center
}
.foot_nav a {
	display: block;
	padding-top: .16rem
}
.foot_nav em {
	position: relative;
	display: inline-block;
	width: .46rem;
	height: .5rem;
	background: url(../images/topnav_icon.png) no-repeat;
	background-size: .46rem auto
}
#footNavOutBox .foot_nav ul li .cartnum, .foot_nav .cartnum {
	background-color: #db384c;
	font-size: .24rem;
	-webkit-border-radius: .4rem
}
.foot_nav .cartnum {
	position: absolute;
	width: .4rem;
	height: .4rem;
	color: #fff;
	right: -.2rem;
	top: -.2rem;
	text-align: center;
	line-height: .4rem;
	border-radius: .4rem
}
.foot_nav a:active {
	color: #db384c
}
.foot_nav a em.b_one {
	background-position: 0 -.54rem
}
.foot_nav a em.b_two {
	background-position: 0 -1.6rem
}
.foot_nav a em.b_three {
	background-position: 0 -2.68rem
}
.foot_nav a em.b_four {
	background-position: 0 -3.72rem
}
.foot_nav a:active em.b_one {
	background-position: 0 0
}
.foot_nav a:active em.b_two {
	background-position: 0 -1.08rem
}
.foot_nav a:active em.b_three {
	background-position: 0 -2.14rem
}
.foot_nav a:active em.b_four {
	background-position: 0 -3.2rem
}
#footNavOutBox .foot_nav ul li {
	position: relative
}
#footNavOutBox .foot_nav ul li a {
	padding-top: .12rem
}
#footNavOutBox .foot_nav ul li p {
	line-height: 1em
}
.bnav_h em, .popbox {
	line-height: .4rem;
	text-align: center
}
#footNavOutBox .foot_nav ul li img {
	height: .5rem;
	width: .5rem;
	margin: 0 auto .1rem
}
#footNavOutBox .foot_nav ul li img.float_img {
	margin: -.3rem auto;
	width: 1.4rem;
	height: 1.3rem;
	position: relative;
	left: -.08rem
}
.bnav_h em, .fri {
	position: absolute
}
#footNavOutBox .foot_nav ul li .cartnum {
	position: absolute;
	width: .4rem;
	height: .4rem;
	color: #fff;
	left: 50%;
	top: -.1rem;
	text-align: center;
	line-height: .4rem;
	border-radius: .4rem
}
.bnav_h, .fri {
	height: 1.12rem
}
#footNavOutBox .foot_nav ul li .iconfont {
	font-size: .5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 4px;
	margin-top: -4px
}
#footNavOutBox .foot_nav ul.foot_ul_number_4 li {
	width: 22%
}
#footNavOutBox .foot_nav ul.foot_ul_number_5 li {
	width: 19%
}
.fri {
	right: 0;
	top: 0;
	width: .54rem;
	background: url(../images/fri.png) 0 center no-repeat
}
.bnav_h, .popbg {
	position: fixed;
	left: 0
}
.bnav_h {
	width: 1.06rem;
	z-index: 8;
	bottom: 0;
	background: url(../images/fniu.png) no-repeat;
	background-size: 1.06rem 1.12rem
}
.bnav_h em {
	right: 0;
	top: -.1rem;
	width: .4rem;
	height: .4rem;
	background-color: #db384c;
	color: #fff;
	font-size: .24rem;
	-webkit-border-radius: .4rem;
	border-radius: .4rem
}
.popalert, .popbg {
	top: 0;
	z-index: 999;
	min-width: 320px
}
.popalert .alert_box, .popbox {
	max-width: 500px;
	-webkit-border-radius: .1rem
}
.popbg {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 10%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.loading_pop, .popalert {
	position: fixed;
	left: 0;
	-webkit-box-align: center
}
.popbox {
	width: 100%;
	margin: 0 auto;
	background-color: #eee;
	border-radius: .1rem;
	padding: 0 .5rem
}
.poptip, .poptxt {
	text-align: left;
	font-size: .32rem
}
.popbox .situs {
	width: .57rem;
	height: .89rem;
	background: url(../images/icon_situs.png) no-repeat;
	background-size: .57rem .89rem;
	float: left;
	margin: .28rem .2rem 0 0
}
.popbox .popinput {
	border: none;
	border-bottom: #009788 solid 2px;
	margin: .48rem 0 .68rem;
	line-height: .38rem;
	width: 100%;
	color: #999;
	padding: .12rem 0
}
.poptip {
	padding: .45rem 0 0
}
.poptip+.poptxt {
	color: #666
}
.poptxt {
	padding: .5rem 0
}
.poptxt font, .poptxt p, .poptxt span {
	font-size: .32rem
}
.popbtnbox {
	display: table;
	width: 100%;
	text-align: right;
	padding: .28rem 0 .4rem
}
.popbtnbox>p {
	display: inline;
	color: #009788;
	font-size: .32rem;
	padding-left: .5rem;
	vertical-align: top
}
.popbtnbox>p:nth-child(1) {
	padding-left: 0
}
.tmbg {
	background: rgba(0,0,0,0)
}
.tmbg .popbox {
	background: rgba(0,0,0,.8)
}
.tmbg .poptxt {
	color: #fff
}
.tmbg2 {
	background: rgba(0,0,0,0)
}
.tmbg2 .popbox {
	background: #fff
}
.tmbg2 .poptxt {
	color: #333
}
.popalert {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 15%;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.popalert .alert_box {
	width: 100%;
	margin: 0 auto;
	line-height: .4rem;
	text-align: center;
	background-color: #eee;
	border-radius: .1rem;
	padding: 0 .5rem;
	background: rgba(0,0,0,.8)
}
.popalert .alertnr {
	padding: .5rem 0;
	font-size: .32rem;
	text-align: left;
	color: #fff
}
.popalert .alertnr font, .popalert .alertnr p, .popalert .alertnr span {
	font-size: .32rem
}
.gotop {
	position: fixed;
	right: .24rem;
	bottom: 1.2rem;
	z-index: 9;
	width: .64rem;
	height: .64rem;
	line-height: .64rem;
	text-align: center;
	background-color: rgba(0,0,0,.7);
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.loading_btm b, .loading_btm em {
	display: inline-block;
	height: .44rem;
	width: .44rem;
	margin-right: .1rem;
	overflow: hidden
}
.gotop:after {
	content: "";
	color: #fff;
	font-size: .5rem;
	width:.65rem;
	height:.65rem;
	display:block;
	background:url(../images/top.png) .13rem .20rem no-repeat;
	background-size: 0.4rem;
}
.loading_btm b:before, .loading_pop b:before, .loading_pop em:before {
	content: ""
}
.loading_btm {
	text-align: center;
	padding: 10px 0;
	font-size: .32rem
}
.loading_btm em {
	background: url(../images/loading.gif) no-repeat;
	background-size: .44rem .44rem
}
.loading_btm b, .loading_pop em:before {
	background: url(../images/loading_txt.png) no-repeat
}
.loading_btm b {
	background-size: .44rem .44rem
}
.loading_btm b:before {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../images/loading.png) no-repeat;
	background-size: .44rem .44rem;
	-webkit-animation: loading_rotate .8s linear infinite;
	animation: loading_rotate .8s linear infinite
}
.loading_pop {
	top: .88rem;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.65);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.loading_pop em {
	display: block;
	height: .88rem;
	width: .88rem;
	overflow: hidden;
	background: url(../images/loadingjsbg.png) no-repeat;
	background-size: 16.2rem .88rem
}
.loading_pop em:before {
	display: block;
	height: 100%;
	width: 100%;
	background-size: .88rem .88rem
}
.loading_pop b {
	margin-right: .1rem;
	display: block;
	height: .88rem;
	width: .88rem;
	overflow: hidden;
	background: url(../images/loading_txt.png) no-repeat;
	background-size: .88rem .88rem
}
.blank .blank_img, .debug, .outbox, .wbd {
	width: 100%
}
.loading_pop b:before {
	display: block;
	height: 100%;
	width: 100%;
	background: url(../images/loading.png) no-repeat;
	background-size: .88rem .88rem;
	-webkit-animation: loading_rotate .8s linear infinite;
	animation: loading_rotate .8s linear infinite
}
.loading_pop.all {
	top: 0
}
@-webkit-keyframes loading_rotate {
from {
-webkit-transform:rotate(0);
transform:rotate(0)
}
to {
-webkit-transform:rotate(360deg);
transform:rotate(360deg)
}
}
@keyframes loading_rotate {
from {
-webkit-transform:rotate(0);
-o-transform:rotate(0);
transform:rotate(0)
}
to {
-webkit-transform:rotate(360deg);
-o-transform:rotate(360deg);
transform:rotate(360deg)
}
}
.debug {
	position: absolute;
	top: .2rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	max-width: 800px;
	padding: 0 .2rem;
	pointer-events: none;
	z-index: 20;
	box-sizing: border-box
}
.debug .msg {
	position: relative;
	margin-bottom: .1rem;
	padding: .2rem;
	-webkit-border-radius: .1rem;
	border-radius: .1rem;
	word-break: break-all;
	color: #fff;
	background: rgba(0,0,0,.4);
	box-sizing: border-box
}
.debug .close {
	padding: .05rem;
	color: #fff;
	position: absolute;
	right: -.1rem;
	bottom: -.1rem;
	pointer-events: auto;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.outbox {
	min-width: 320px;
	max-width: 800px;
	margin: 0 auto
}
.bgeee {
	background-color: #eee
}
.bgfff {
	background-color: #fff
}
.bgf8 {
	background-color: #f8f8f8
}
.bgf22 {
	background-color: #f22e00
}
.show {
	display: block
}
.hide {
	display: none
}
.hide_it {
	display: none!important
}
.fl {
	float: left
}
.fr {
	float: right
}
.bor0 {
	border: 0
}
.fs1 {
	font-size: .36rem
}
.fs2 {
	font-size: .32rem
}
.fs3 {
	font-size: .28rem
}
.fs4 {
	font-size: .24rem
}
.fs5 {
	font-size: .21rem
}
.f22 {
	font-size: .22rem
}
.f24 {
	font-size: .24rem
}
.f26 {
	font-size: .26rem
}
.f32 {
	font-size: .32rem
}
.mc1 {
	color: #333
}
.mc2 {
	color: #666
}
.mc3 {
	color: #888
}
.mc4 {
	color: #db384c
}
.mc5 {
	color: #d5d5d5
}
.white {
	color: #fff
}
.c3c {
	color: #3c3c3c
}
.c6c {
	color: #6c6c6c
}
.c9c {
	color: #9c9c9c
}
.cf22 {
	color: #f22e00
}
.pos_f {
	position: fixed
}
.pos_r {
	position: relative
}
.pos_a {
	position: absolute
}
.z1 {
	z-index: 1
}
.z10 {
	z-index: 10
}
.z100 {
	z-index: 100
}
.hide+.hr1, .hide+.hr2, .hide_it+.hr1, .hide_it+.hr2 {
	display: none
}
.hr1 {
	background: #eee;
	height: .2rem
}
.hr2 {
	border-top: 1px solid #d5d5d5
}
.main_content {
	min-height: 85%
}
.blank {
	padding-top: 2rem;
	padding-bottom: .2rem
}
.blank .blank_img {
	margin-top: 1rem
}
.blank .blank_txt {
	margin: .6rem 0;
	text-align: center;
	color: #6c6c6c;
	font-size: .36rem;
	line-height: .48rem
}
.blank .blank_btn {
	display: block;
	background-color: #db384c;
	color: #fff;
	line-height: .8rem;
	font-size: .42rem;
	text-align: center;
	-webkit-border-radius: .06rem;
	border-radius: .06rem;
	margin: .3rem .2rem
}
.nomoregoods {
	background-color: #e5e5e5;
	padding: .4rem 0 .3rem
}
.nomoregoods .nombor {
	display: block;
	width: 65%;
	color: #666;
	margin: 0 auto;
	text-align: center;
	border-top: #a0a0a0 solid 1px
}
.nomoregoods .nombor i {
	display: inline-block;
	padding: 0 .3rem;
	position: relative;
	background-color: #e5e5e5;
	top: -.16rem
}
.fixed_button {
	position: fixed;
	right: .02rem;
	bottom: 1.8rem;
	z-index: 66
}
.fixed_button a {
	display: block;
	width: .9rem;
	height: .9rem;
	margin-bottom: .04rem;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	background: #000;
	opacity: .6
}
.fixed_button a:first-child {
	background: url(../images/fixbtn.png) no-repeat #000;
	background-size: 100% auto
}
.fixed_button a:last-child {
	background: url(../images/fixbtn.png) 0 100% no-repeat #000;
	background-size: 100% auto
}
.fixed_button a i.iconfont {
	display: none
}

@media screen and (max-width:800px) {
html {
	font-size: 50px
}
}
html {
	font-family: Arial;
}
.J_addCartShop .gwc-shd{
	 width: .4rem;
	height:.4rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}
.enfh{
	background-image: url(../images/rig.png);
    background-repeat: no-repeat;
    background-position: 0.2rem;
    background-size: 0.1rem;
    width: 0.35rem;
    vertical-align: bottom;
    height: 0.35rem;
	display:inline-block;	
}
.big_ma_t {
    margin-top: .3rem;
    width: .33rem;
}

