@charset "utf-8";
.fnwap_number .nr_left::after, .fnwap_number .nr_right::after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.cart_ul .li_main .li_adc .adc_d1>h4 .d_t, .cart_ul .li_main .li_adc .adc_d1>h4 small, .choice .h1_title .h1_adc h4, .combo_ul>li .li_adc .adc_d1>h4 .d_t, .guess_love .gl_name, .zh_ul>li .li_adc .adc_d1>h4 .d_t {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis
}
.guess_love {
	padding: .25rem .24rem .2rem
}
.guess_love .gl_title {
	font-size: .28rem;
	margin-bottom: .2rem;
	color: #333
}
.guess_love .gl_adc:after {
	content: '';
	clear: both;
	display: block
}
.guess_love .gl_adc li {
	width: 1.83rem;
	float: left;
	position: relative
}
.guess_love .gl_adc li a {
	max-width: 1.6rem;
	padding: 0 .05rem;
	display: block;
	margin: 0 auto
}
.btn, .fnwap_number {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-align: center
}
.guess_love .gl_img img {
	max-width: 100%;
	margin: 0 auto;
	height: 1.5rem
}
.guess_love .gl_name {
	overflow: hidden;
	display: -webkit-box;
	line-height: .34rem;
	font-size: .24rem;
	color: #666;
	font-weight: 100;
	margin: .07rem 0 .06rem;
	height: .68rem
}
.guess_love .gl_price {
	color: #db384c;
	font-size: .24rem
}
em {
	font-size: inherit
}
em::before {
	content: "\00A5"
}
.btn {
	font-size: .28rem;
	display: flex;
	min-width: 1.67rem;
	height: .54rem;
	color: #333;
	border: .02rem solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.btn_de, .btn_red {
	border: none;
	color: #fff
}
.btn_lg {
	font-size: .36rem;
	min-width: 1.8rem;
	height: .84rem
}
.btn_red {
	background: #db384c
}
.btn_de {
	background: #888
}
.com_checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: .4rem;
	height: .4rem;
	border: .02rem solid #888;
	-webkit-border-radius: 50%;
	border-radius: 50%
}
.com_checkbox:checked {
	position: relative;
	border-color: #db384c;
	background-color: #db384c
}
.com_checkbox:checked:after {
	position: absolute;
	top: .07rem;
	left: .03rem;
	display: block;
	width: .24rem;
	height: .12rem;
	content: '';
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: #fff solid .04rem;
	border-left: #fff solid .04rem
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
appearance:none!important;
-webkit-appearance:none!important;
margin:0
}
input[type=number] {
	-moz-appearance: textfield
}
.fnwap_number {
	display: flex;
	overflow: hidden;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.fnwap_number .nr_left, .fnwap_number .nr_right {
	font-size: .36rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	background: #eee;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.fnwap_number .nr_left {
	border-right: 1px solid #d5d5d5
}
.fnwap_number .nr_left::after {
	font-size: .28rem;
	content: '-'
}
.fnwap_number .nr_right {
	border-left: 1px solid #d5d5d5
}
.fnwap_number .nr_right::after {
	font-size: .28rem;
	content: '+'
}
.fnwap_number input {
	display: block;
	min-width: 0;
	margin: 0 .06rem;
	text-align: center;
	border: none;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.fn_hint, .fnwap_choice_circle .new_copy {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-align: center
}
.fnwap_choice_circle .new_copy {
	width: .4rem;
	height: .4rem;
	line-height: .4rem;
	border: .02rem solid #d5d5d5;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .18s;
	-o-transition: .18s;
	transition: .18s;
	background: #fff
}
.fn_hint i::after, .fnwap_choice_circle .new_copy::after {
	line-height: 1;
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.fnwap_choice_circle .new_copy::after {
	font-size: .28rem
}
.fnwap_choice_circle input {
	display: none!important
}
.fnwap_choice_circle input:checked+.new_copy {
	background: #db384c;
	border: none
}
.fnwap_choice_circle input:checked+.new_copy::after {
	content: '';
	color: #fff;
	font-size: .3rem
}
.fnwap_choice_circle input:disabled+.new_copy {
	border: none
}
.fnwap_choice_circle input:disabled+.new_copy::after {
	content: '\e610';
	color: #d5d5d5;
	font-size: .52rem;
	margin-left: -.06rem
}
.fnwap_input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: .24rem;
	display: block;
	width: 100%;
	padding: .06rem .12rem;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	background-color: #fff
}
.fn_hint {
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: .15rem 0;
	font-size: .24rem;
	color: #ff9600
}
.choice .choice_adc .choice_hint, .fn_hint i {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.fn_hint i {
	padding: .03rem;
	background: #ff9600;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-left: .05rem;
	min-width: .28rem;
	min-height: .28rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.fn_hint i::after {
	content: '\e614';
	font-size: .22rem;
	color: #fff
}
.mask_0, .mask_1, .mask_10, .mask_2, .mask_3, .mask_4, .mask_5, .mask_6, .mask_7, .mask_8, .mask_9, .mask_go {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10
}
.mask_0 {
	background: rgba(0,0,0,0)
}
.mask_1 {
	background: rgba(0,0,0,.1)
}
.mask_2 {
	background: rgba(0,0,0,.2)
}
.mask_3 {
	background: rgba(0,0,0,.3)
}
.mask_4 {
	background: rgba(0,0,0,.4)
}
.mask_5 {
	background: rgba(0,0,0,.5)
}
.mask_6 {
	background: rgba(0,0,0,.6)
}
.mask_7 {
	background: rgba(0,0,0,.7)
}
.mask_8 {
	background: rgba(0,0,0,.8)
}
.mask_9 {
	background: rgba(0,0,0,.9)
}
.mask_10 {
	background: #000
}
.norms {
	color: #db384c;
	position: relative;
	border: .02rem solid #d5d5d5;
	min-height: .6rem;
	padding: .1rem .26rem .07rem .1rem;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	line-height: .35rem;
	display: inline-block
}
.norms::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: .1rem;
	right: -.02rem;
	bottom: -.02rem;
	border-color: transparent #959595 #959595 transparent;
	-webkit-border-radius: 0 0 .04rem;
	border-radius: 0 0 .04rem
}
.choice .choice_result, .choice .choice_result.fixed {
	bottom: 0;
	position: fixed;
	width: 100%
}
.norms p {
	color: #333
}
.choice {
	position: absolute;
	overflow: auto;
	top: 20%;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #d5d5d5;
	background: #fff
}
.choice.zh .choice_top .d1 {
	display: block
}
.choice .choice_top .d1, .choice.zh .h1_title .h1_adc p strong {
	display: none
}
.choice.zh .choice_adc {
	padding-top: .86rem
}
.choice.zh .h1_title .h1_adc p s {
	font-size: .28rem
}
.choice .choice_top {
	position: fixed;
	top: 20%;
	width: 100%;
	line-height: .86rem;
	padding: 0 .24rem;
	background: #fff;
	z-index: 1
}
.choice .choice_top .d1 span {
	vertical-align: middle;
	margin-right: .2rem
}
.choice .choice_top .d2 {
	position: absolute;
	top: 0;
	right: 0;
	width: .86rem;
	height: .86rem;
	text-align: right;
	z-index: 1;
	padding: 0 .24rem 0 0
}
.choice .choice_top .d2 i::after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	content: '\e615';
	background: #5a5a5a;
	color: #fff;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	padding: .04rem;
	font-size: .22rem
}
.choice .choice_ul:after, .choice .combination_ul:after {
	content: "";
	overflow: hidden;
	clear: both
}
.choice .choice_adc {
	padding-top: 1px;
	margin-bottom: -.96rem;
	padding-bottom: .96rem;
	min-height: 100%
}
.choice .choice_adc .choice_number {
	border-bottom: 1px solid #d5d5d5;
	margin-left: .24rem
}
.choice .choice_adc .choice_number .fn_hint, .choice .choice_adc .choice_number .oe_hint {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.choice .choice_adc .choice_hint {
	min-height: 1.4rem;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.choice .choice_adc .choice_hint .choice_hint_adc {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.choice .choice_adc .choice_hint .fn_hint, .choice .choice_adc .choice_hint .oe_hint {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	padding: .12rem .24rem
}
.choice .choice_adc .choice_bk>div {
	border-bottom: 1px solid #d5d5d5;
	margin-left: .24rem
}
.choice .h1_title {
	position: relative;
	padding-top: .2rem;
	padding-bottom: .2rem;
	border-bottom: 1px solid #d5d5d5;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}
.choice .h1_title .h1_img {
	width: 1.4rem;
	height: 1.4rem;
	margin-right: .2rem;
	border: 1px solid #d5d5d5
}
.choice .h1_title .h1_img img {
	width: 100%;
	height: 100%
}
.choice .h1_title .h1_adc {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.choice .h1_title .h1_adc h4 {
	overflow: hidden;
	display: -webkit-box;
	font-weight: 100;
	line-height: .38rem;
	height: .76rem;
	margin-bottom: .3rem;
	padding-right: 1.15rem
}
.choice .h1_title .h1_adc p strong {
	color: #db384c;
	font-weight: 100;
	margin-right: .2rem
}
.choice .h1_title .h1_adc p s {
	color: #888;
	font-size: .21rem
}
.choice .h2_title {
	line-height: .7rem;
	height: .7rem;
	margin-bottom: .04rem
}
.choice .h2_title span {
	margin: 0 .1rem
}
.choice .off {
	opacity: .4
}
.choice .choice_ul:after {
	display: block;
	height: 0
}
.choice .choice_number, .choice .choice_ul li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	-webkit-box-align: center
}
.choice .choice_ul li {
	font-size: .28rem;
	display: flex;
	color: #333;
	border: .02rem solid #d5d5d5;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	float: left;
	min-width: 1.15rem;
	padding: 0 .1rem;
	height: .6rem;
	margin-right: .2rem;
	margin-bottom: .2rem
}
.choice .choice_ul li.active {
	color: #fff;
	border-color: #db384c;
	background: #db384c
}
.choice .combination_ul:after {
	display: block;
	height: 0
}
.choice .combination_ul li {
	text-align: center;
	float: left;
	min-width: 1.6rem;
	margin: 0 .2rem .2rem 0
}
.choice .combination_ul li.active {
	padding-top: 1px;
	padding-bottom: 1px
}
.choice .combination_ul li.active .d_top {
	color: #fff;
	border: none;
	background: #db384c
}
.choice .combination_ul li .d_top {
	padding: 0 .1rem;
	background: #eee;
	color: #666;
	line-height: .6rem;
	border: 1px solid #d5d5d5;
	-webkit-border-radius: .04rem .04rem 0 0;
	border-radius: .04rem .04rem 0 0
}
.choice .combination_ul li .d_adc {
	-webkit-border-radius: 0 0 .04rem .04rem;
	border-radius: 0 0 .04rem .04rem;
	line-height: .6rem;
	border: 1px solid #d5d5d5;
	border-top: none
}
.choice .choice_number {
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.choice .choice_number .fnwap_number {
	margin: .2rem .24rem
}
.choice .choice_result {
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: .96rem;
	padding: 0 .24rem;
	border-top: 1px solid #d5d5d5;
	background: #fff
}
.choice .choice_result .d1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #db384c
}
.choice .choice_result .btn {
	width: 3.36rem
}
.pre_sale {
	font-size: .28rem;
	color: #666
}
.pre_sale span {
	padding-left: .2rem;
	color: #db384c
}
.pre_sale>p {
	display: inline-block
}
.pre_mess {
	padding: .2rem 0
}
.pre_mess>p b, .pre_mess>p i {
	font-weight: 400;
	color: #333;
	padding-left: .2rem
}
.pre_mess>p i {
	padding-left: .14rem
}
.prefix>h1, .prefix>p, .prefix>span {
	display: inline;
	vertical-align: top
}
.prefix>i {
	display: inline-block;
	height: .28rem
}
.prefix>i img {
	display: block;
	height: 100%
}
.prefix>span {
	color: #fff;
	padding: 0 .06rem;
	line-height: .3rem;
	display: inline-block;
	background: #db384c;
	-webkit-border-radius: .04rem;
	border-radius: .04rem;
	font-size: .2rem;
	white-space: nowrap;
	margin-right: .15rem
}
.prefix>span.sc {
	background: #961f7f
}
.prefix>span.sx {
	background: #18aa5a
}
.prefix>span.lose {
	background: #999
}
.prefix>span.hq {
	padding: .03rem 0;
	color: #db384c;
	-webkit-border-radius: 0;
	border-radius: 0;
	border: 1px solid #db384c
}
.prefix>span.hq b, .prefix>span.hq i, .prefix>span.hq i::after {
	vertical-align: top
}
.d_title span, .prefix>img {
	vertical-align: middle
}
.prefix>span.hq i::after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	content: '\e629';
	color: #fff;
	font-size: .26rem
}
.prefix>span.hq b {
	font-size: .21rem;
	padding: .02rem .05rem .03rem;
	background: #fff
}
*, .cart_package .cp_title *, .top_box a {
	font-size: .24rem
}
.prefix>span.hq.sc {
	border-color: #961f7f;
	color: #961f7f
}
.prefix>span.hq.sx {
	border-color: #18aa5a;
	color: #18aa5a
}
.prefix>span.zs {
	background: #c75294
}
.prefix>img {
	display: inline;
	height: .3rem;
	margin: -.07rem .15rem 0 0
}
body, html {
	height: 100%
}
.cart {
	padding-bottom: 1.17rem
}
.top_box a {
	color: #888
}
.norms_gift {
	border-top: 1px solid #d5d5d5;
	padding: .3rem .24rem .3rem 0;
	margin-left: .96rem
}
.cart_close {
	position: relative
}
.cart_close.close_cart:after, .cart_close:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	margin-left: -.96rem
}
.cart_close:after {
	left: 0;
	background: rgba(255,255,255,.6);
	z-index: 1;
	padding-left: .96rem;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.cart_close.close_cart:after {
	right: 0;
	left: auto;
	background: rgba(255,255,255,.3);
	z-index: 3;
	padding-left: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.icon_cart_self, .icon_lose_cart {
	display: inline-block;
	height: .27rem;
	float: left
}
.cart_close .btn, .cart_close .or_warn {
	position: relative;
	z-index: 2
}
.icon_cart_self {
	background: url(../images/self.png) no-repeat;
	background-size: 100% auto;
	width: .32rem
}
.icon_lose_cart {
	background: url(../images/lose.png) no-repeat;
	background-size: 100% auto;
	width: .27rem
}
.cart_package .cp_title, .member {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.J_gotoStore.edit_p:after {
	content: '>'
}
.cart_ul .li_main .li_adc .adc_d1 .count i::after, .combo_ul>li .li_adc .adc_d1 .count i::after, .zh_ul>li .li_adc .adc_d1 .count i::after {
	content: '\e615';
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale
}
.member {
	background: #527ED2;
	color: #fff;
	height: .6rem;
	line-height: .6rem;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: flex;
	align-item: center
}
.member .icon_cart_member {
	display: inline-block;
	float: left;
	background: url(../images/member.png) no-repeat;
	background-size: 100% auto;
	width: .35rem;
	height: .5rem;
	z-index: 4;
	margin: .1rem .1rem 0 .3rem
}
.cart_package .cp_title {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: .86rem;
	background: #f9f9f9;
	padding: 0 .24rem;
	border-bottom: 1px solid #d5d5d5
}
.cart_package .cp_hint, .cart_package .package_lose_efficacy {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.cart_package .cp_title .li_radio {
	margin-right: .3rem
}
.cart_package .cp_title>h4 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-weight: 100
}
.cart_package .cp_title>h4>p {
	height: .27rem;
	line-height: .27rem
}
.cart_package .cp_title>h4 i {
	margin-right: .1rem
}
.cart_package .cp_title>h4>span {
	color: #6bb53d
}
.cart_package .cp_title>h4>span i {
	margin: 0;
	font-size: .4rem;
	line-height: .2rem;
	position: relative;
	bottom: -.02rem;
	left: -.06rem
}
.cart_package .cp_title>h4.box_sxsp {
	font-weight: 700;
	margin-left: .7rem
}
.cart_package .cp_title .postage {
	color: #666;
	text-align: right;
	line-height: .3rem
}
.cart_package .package_lose_efficacy {
	height: 1.6rem;
	background-color: #eee;
	text-align: center;
	margin: 0 auto;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.cart_package .package_lose_efficacy>* {
	display: block
}
.cart_package .package_lose_efficacy .btn {
	padding: .1rem;
	font-weight: 700;
	border: 1px solid #000
}
.cart_package .package_lose_efficacy #lose_efficacy_btn {
	color: #333;
	-webkit-border-radius: .08rem;
	border-radius: .08rem;
	padding: .18rem .12rem;
	border: 2px solid #5f646e
}
.cart_package .lose_cart_title.vi {
	visibility: hidden
}
.cart_package .cp_hint {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: .6rem;
	background: #fff4e9;
	padding: 0 .24rem
}
.cart_ul .li_main, .cart_ul .li_main .li_adc .adc_d1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.prompt {
	font-size: .24rem;
	color: #fff;
	line-height: .36rem;
	background: #f9706c;
	padding: .2rem .24rem
}
.fnwap_number {
	width: 1.8rem;
	margin: .2rem 0
}
.fnwap_number .nr_left, .fnwap_number .nr_right {
	width: .6rem;
	height: .6rem
}
.cart_ul {
	background-color: #fff
}
.cart_ul>li {
	margin-bottom: .18rem;
	padding: .3rem .24rem .3rem 0;
	margin-left: .96rem;
	background: #f9f9f9
}
.cart_ul>li .btn {
	color: #888;
	border-width: 1px
}
.cart_ul>li:last-child {
	border: none;
	margin-bottom: 0
}
.cart_ul>li>:last-child {
	margin-bottom: 0
}
.cart_ul .li_main {
	position: relative;
	display: flex
}
.cart_ul .li_main .li_radio {
	display: block;
	width: .96rem;
	margin-left: -.96rem;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	padding-left: .24rem
}
.cart_ul .li_main .li_img {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: .24rem
}
.cart_ul .li_main .li_img img {
	width: 100%;
	height: 100%;
	display: block
}
.cart_ul .li_main .li_adc {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline
}
.cart_ul .li_main .li_adc .adc_d1 {
	display: flex;
	min-height: 1.04rem
}
.cart_ul .li_main .li_adc .adc_d1>h4 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: .25rem;
	font-weight: 100;
	font-size: .24rem
}
.cart_ul .li_main .li_adc .adc_d1>h4 .d_t {
	overflow: hidden;
	display: -webkit-box;
	width: 100%;
	line-height: .33rem;
	margin-top: .08rem
}
.cart_ul .li_main .li_adc .adc_d1>h4 p {
	font-size: .24rem;
	color: #666;
	margin-top: .25rem
}
.cart_ul .li_main .li_adc .adc_d1>h4 small {
	color: #888;
	font-size: .21rem;
	margin-top: .08rem;
	overflow: hidden;
	display: -webkit-box
}
.cart_ul .li_main .li_adc .adc_d1 .count {
	line-height: .45rem;
	font-size: .28rem
}
.cart_ul .li_main .li_adc .adc_d1 .count i::after {
	font-size: .2rem
}
.cart_ul .li_main .li_adc .adc_d1 .btn {
	width: .8rem;
	min-width: 0
}
.cart_ul .li_main .li_adc .adc_d2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price1 {
	margin-top: .4rem
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
	position: relative
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price p {
	padding: .1rem 0 0
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_o {
	line-height: .2rem;
	padding: .05rem;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	background: #527ED2;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
	display: block
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_red {
	line-height: .2rem;
	padding: .05rem;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	background: #db384c;
	float: right;
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_t {
	color: #db384c;
	display: block;
	font-size: .28rem;
	clear: both
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_t i {
	float: left;
	color: #666;
	font-size: .24rem
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_s {
	text-decoration: line-through;
	font-size: .24rem;
	color: #999
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_s.xys {
	text-decoration: none
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price .price_m {
	color: #999
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price div {
	font-size: .28rem
}
.cart_ul .li_main .li_adc .adc_d2 .adc_d2_price small {
	line-height: 2.2;
	display: block;
	font-size: .21rem;
	color: #888
}
.cart_ul .li_or {
	margin: .2rem 0
}
.cart_ul .li_or>* {
	margin-bottom: .2rem
}
.cart_ul .li_or>:last-child {
	margin-bottom: 0
}
.cart_ul .li_combo .li_img {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.cart_ul .li_combo .match, .cart_ul .li_combo>.li_main .li_img img {
	display: none
}
.cart_ul .li_combo>.li_main {
	position: relative;
	margin-bottom: .74rem
}
.cart_ul .li_combo>.li_main .li_adc .adc_d1 {
	position: absolute;
	top: .78rem;
	right: 0;
	min-height: 0
}
.cart_ul .li_combo>.li_main .li_adc .adc_d1>h4 {
	visibility: hidden;
	height: 0
}
.cart_ul .li_combo>.li_main .li_adc .adc_d2 {
	position: relative
}
.li_combo .combo_d1, .li_combo .combo_d2, .or_warn li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.cart_ul .combo_name {
	background: #db384c;
	color: #fff;
	font-size: .21rem;
	padding: .05rem;
	margin-right: .2rem
}
.li_combo_1 {
	margin-top: .2rem
}
.match {
	margin-top: .3rem
}
.match .match_ul>li {
	margin-bottom: .3rem
}
.w_limit {
	color: #ff9610;
	position: absolute;
	left: 2rem;
	bottom: .35rem;
	font-size: .24rem;
	max-width: 40%
}
.replenish {
	margin-top: .2rem;
	color: #ff9610
}
.search_same_goods {
	min-width: 1.8rem;
	border: 0
}
.or_warn li {
	margin-bottom: .05rem;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #888;
	font-size: .24rem
}
.or_warn li:last-child {
	margin-bottom: 0
}
.or_warn li i {
	display: block;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #ff9610;
	color: #fff;
	padding: .02rem;
	font-size: .18rem;
	margin-right: .1rem
}
.or_warn li p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.or_warn .w_limit_li {
	color: #ff9610
}
.or_warn .w_limit_li i {
	line-height: 1
}
.li_combo .combo_d1, .li_combo .combo_d2 {
	display: flex
}
.combo_ul>li, .combo_ul>li .li_adc .adc_d1, .zh_ul>li, .zh_ul>li .li_adc .adc_d1 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.li_combo .combo_d1 {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center
}
.li_combo .combo_d1 .li_radio {
	margin-left: -.96rem;
	width: .96rem;
	padding-left: .24rem
}
.li_combo .combo_d1>:nth-child(2) {
	background: #db384c;
	color: #fff;
	font-size: .21rem;
	padding: 0 .05rem;
	margin-right: 1rem
}
.li_combo .combo_d1>:nth-child(4) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
	font-size: .28rem
}
.li_combo .combo_d2>:nth-child(1) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-right: 1rem
}
.li_combo .combo_d2 .btn {
	width: .8rem;
	min-width: 0
}
.combo_ul>li, .zh_ul>li {
	position: relative;
	display: flex;
	margin-bottom: .2rem
}
.combo_ul>li:last-child, .zh_ul>li:last-child {
	margin-bottom: 0
}
.combo_ul>li .li_img, .zh_ul>li .li_img {
	width: 1.8rem;
	margin-right: .24rem
}
.combo_ul>li .li_img img, .zh_ul>li .li_img img {
	display: block;
	width: 1.8rem;
	height: 1.8rem;
	margin-left: auto
}
.combo_ul>li .li_adc, .zh_ul>li .li_adc {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-align-self: baseline;
	-ms-flex-item-align: baseline;
	align-self: baseline
}
.combo_ul>li .li_adc .adc_d1, .zh_ul>li .li_adc .adc_d1 {
	display: flex;
	min-height: 1.04rem
}
.combo_ul>li .li_adc .adc_d1>h4, .zh_ul>li .li_adc .adc_d1>h4 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: .25rem;
	font-weight: 100;
	font-size: .24rem
}
.combo_ul>li .li_adc .adc_d1>h4 .d_t, .zh_ul>li .li_adc .adc_d1>h4 .d_t {
	overflow: hidden;
	display: -webkit-box;
	width: 100%;
	line-height: .33rem;
	margin-top: .08rem
}
.combo_ul>li .li_adc .adc_d1>h4 p, .zh_ul>li .li_adc .adc_d1>h4 p {
	font-size: .24rem;
	color: #666;
	margin-top: .25rem
}
.combo_ul>li .li_adc .adc_d1>h4 small, .zh_ul>li .li_adc .adc_d1>h4 small {
	color: #888;
	font-size: .21rem;
	margin-top: .08rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical
}
.combo_ul>li .li_adc .adc_d1 .count, .zh_ul>li .li_adc .adc_d1 .count {
	line-height: .45rem;
	font-size: .28rem
}
.combo_ul>li .li_adc .adc_d1 .count i::after, .zh_ul>li .li_adc .adc_d1 .count i::after {
	font-size: .2rem
}
.combo_ul>li .li_adc .adc_d1 .btn, .zh_ul>li .li_adc .adc_d1 .btn {
	width: .8rem;
	min-width: 0
}
.combo_ul>li .li_adc .adc_d2, .zh_ul>li .li_adc .adc_d2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price1, .zh_ul>li .li_adc .adc_d2 .adc_d2_price1 {
	margin-top: .4rem
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price, .zh_ul>li .li_adc .adc_d2 .adc_d2_price {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right;
	position: relative
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price p, .zh_ul>li .li_adc .adc_d2 .adc_d2_price p {
	padding: .1rem 0 0
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_o, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_o {
	line-height: .2rem;
	padding: .05rem;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	background: #527ED2;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float: right;
	display: block
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_red, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_red {
	line-height: .2rem;
	padding: .05rem;
	text-align: center;
	color: #fff;
	font-size: .2rem;
	background: #db384c;
	float: right;
	display: block;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_t, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_t {
	color: #db384c;
	display: block;
	font-size: .28rem;
	clear: both
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_t i, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_t i {
	float: left;
	color: #666;
	font-size: .24rem
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_s, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_s {
	text-decoration: line-through;
	font-size: .24rem;
	color: #999
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_s.xys, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_s.xys {
	text-decoration: none
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price .price_m, .zh_ul>li .li_adc .adc_d2 .adc_d2_price .price_m {
	color: #999
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price div, .zh_ul>li .li_adc .adc_d2 .adc_d2_price div {
	font-size: .28rem
}
.combo_ul>li .li_adc .adc_d2 .adc_d2_price small, .zh_ul>li .li_adc .adc_d2 .adc_d2_price small {
	line-height: 2.2;
	display: block;
	font-size: .21rem;
	color: #888
}
.ul_other .ulr_adc, .ul_other .ulr_adc>:nth-child(2) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.ul_other>li {
	margin-bottom: .08rem
}
.ul_other>li:last-child {
	margin-bottom: 0
}
.ul_other .ulr_adc {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: .24rem;
	color: #666
}
.ul_other .ulr_adc>:nth-child(1) {
	margin-right: .1rem;
	background: #db384c;
	color: #fff;
	font-size: .21rem;
	padding: 0 .05rem
}
.ul_other .ulr_adc>:nth-child(1).not_select {
	background: #888
}
.ul_other .ulr_adc .camp_title_div {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.ul_other .ulr_adc>:nth-child(2) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.ul_other .ulr_adc>:nth-child(2) p {
	max-width: 6rem;
	margin-right: .1rem;
	color: #db384c;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
.ul_other .ulr_adc>:nth-child(2) .btn {
	line-height: 1.2;
	font-size: .21rem;
	height: auto;
	min-width: auto;
	margin-right: .05rem;
	padding: .06rem .1rem;
	color: #fff
}
.ul_other .ulr_adc>:nth-child(2) .btn.get_gift {
	width: 1.5rem;
	font-size: .28rem;
	padding: .1rem
}
.ul_other .ulr_adc>:nth-child(2) .btn.update_gift {
	color: #888;
	width: 1.5rem;
	font-size: .28rem;
	padding: .1rem
}
.ul_other .ulr_adc>:nth-child(3) {
	margin-left: .5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.ul_other .ulr_adc>:nth-child(3) i {
	font-size: .2rem;
	margin-right: .03rem;
	line-height: .2rem
}
.ul_other .ulr_adc>:nth-child(3).kxz {
	text-align: right;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.ul_other .ulr_adc>:nth-child(3).kxz i::after {
	content: '\e621';
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	font-size: .3rem
}
.ul_other .mj>:nth-child(1) {
	background: #ff5a00
}
.ul_other .mj>:nth-child(2) p {
	color: #666
}
.ul_other .mz>:nth-child(1) {
	background: #f87d70
}
.ul_other .mz>:nth-child(2) {
	color: #db384c
}
.ul_or_list {
	margin-top: .16rem;
	display: none
}
.ul_or_list>li {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: .14rem
}
.ul_or_list>li:last-child {
	margin-bottom: 0
}
.package_total, .yxsps_1 .package_total_ul .tax {
	margin-bottom: .2rem
}
.ul_or_list>li>label {
	margin-right: .24rem
}
.ul_or_list>li .ulr_adc {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.svn_ul_open .ul_or_list {
	display: block
}
.svn_ul_open .kxz i::after {
	content: '\e623'!important
}
.package_total {
	padding: .2rem 0;
	margin-left: .96rem;
	position: relative
}
.package_total>.btn {
	position: absolute;
	right: .24rem;
	bottom: .3rem
}
.yxsps {
	width: 45%;
	float: left;
	border-right: 1px solid #d5d5d5;
	padding: .85rem .5rem .85rem 0;
	font-size: .28rem;
	color: #333;
	min-width: 1.1rem
}
.yxsps_1 {
	width: 55%;
	float: left;
	padding-left: .36rem
}
.cart_fixed, .cart_null {
	position: fixed;
	left: 0;
	width: 100%
}
.yxsps_1 .package_total_ul>li {
	line-height: .4rem;
	color: #888;
	min-width: 2.8rem
}
.yxsps_1 .package_total_ul>li p {
	display: inline;
	margin-right: .05rem
}
.cart_total, .cart_total>:nth-child(1) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.hr1 {
	border: none
}
.cart_fixed {
	bottom: 0;
	z-index: 4;
	border-top: 1px solid #d5d5d5
}
.cart_total {
	padding: 0 .24rem;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 1.16rem;
	background: #f9f9f9
}
.cart_total>:nth-child(1) {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.cart_total .edit_box, .cart_total>:nth-child(2) {
	text-align: right;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.cart_total>:nth-child(1)>label {
	margin-right: .14rem
}
.cart_total>:nth-child(2) {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #666;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.cart_total>:nth-child(2) span {
	font-size: .4rem
}
.cart_total>:nth-child(2) span:nth-child(2) {
	color: #db384c;
	min-width: 1.2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.cart_total>:nth-child(2) span:nth-child(1) {
	font-size: .24rem;
	margin-right: .2rem;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	min-width: 1.2rem
}
.cart_total>:nth-child(3) {
	margin-left: .4rem
}
.cart_total .edit_box {
	-webkit-box-flex: 2;
	-webkit-flex: 2;
	-moz-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	display: flex;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-moz-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end
}
.cart_total .edit_box.btn_disabled {
	z-index: 5
}
.cart_total .edit_box.btn_disabled div:first-child {
	border: 1px solid #888;
	color: #888
}
.cart_total .edit_box.btn_disabled div:last-child {
	background-color: #888;
	color: #fff
}
.cart_total .edit_box div:first-child {
	background-color: #fff;
	border: 2px solid #DB384C;
	color: #DB384C;
	padding: 0 .12rem;
	margin-right: .3rem
}
.not_login {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 1.17rem;
	padding: 0 .24rem;
	background: #f9f9f9;
	border-bottom: 1px solid #d5d5d5
}
.not_login>p {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: .24rem
}
.not_login .btn {
	color: #333;
	border-color: #333;
	background: #fff
}
.cart_null {
	height: 75%;
	right: 0;
	margin: auto;
	text-align: center;
	padding-top: 1px;
	background: #eee;
	min-height: 13.83rem;
	min-height: 100%;
	display: block;
	min-width: 320px;
	max-width: 800px
}
.cart_null img {
	width: 70%;
	margin: .4rem auto .3rem
}
.cart_null p {
	color: #666;
	font-size: .32rem;
	line-height: .36rem
}
.cart_null .btn {
	margin: 1rem .24rem
}
.hide {
	display: none
}
.adj_select .adj_select_close, .adj_select .all_pop_btn_div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.fn_hint i {
	margin-right: .2rem
}
.adj_hint {
	text-align: center
}
.adj_hint .fn_hint {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}
.adj_hint .fn_hint p {
	color: #333
}
.adj_select {
	padding-top: .24rem;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #fff
}
.adj_select .adj_select_close {
	position: absolute;
	right: .24rem;
	top: .24rem;
	display: flex
}
.adj_select .adj_select_close::after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	content: '\e615';
	color: #fff;
	line-height: 1;
	font-size: .24rem;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #5a5a5a;
	padding: .05rem
}
.adj_select .icon_cart_fn {
	display: inline-block;
	float: left;
	background: url(../images/fn.png) no-repeat;
	background-size: 100% auto;
	width: .85rem;
	height: .85rem;
	margin-right: .2rem
}
.adj_select .adj_select_title {
	padding: .2rem .24rem .6rem .3rem;
	line-height: .48rem
}
.adj_select .adj_select_ul {
	position: relative
}
.adj_select .adj_select_ul li {
	display: block;
	position: relative;
	margin-left: .24rem;
	padding: .5rem .24rem .5rem 0;
	border-top: 1px solid #d5d5d5
}
.adj_select .adj_select_ul li>* {
	display: inline-block
}
.adj_select .adj_select_ul li:last-child {
	border-top: 1px solid #d5d5d5;
	margin-left: 0;
	padding-left: .24rem
}
.adj_select .adj_select_ul li label {
	position: absolute;
	top: .55rem
}
.adj_select .adj_select_ul li .adj_select_ul_adc {
	margin-left: .8rem
}
.adj_select .adj_select_ul li.hqg {
	margin-left: 0;
	padding: .5rem 0 .9rem
}
.adj_select .adj_select_ul li.hqg .package_adj_hint {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: block;
	text-align: center
}
.adj_select .adj_select_ul li.hqg .package_adj_hint p {
	width: 100%;
	white-space: nowrap
}
.adj_select .adj_select_ul li.hqg .package_adj_hint p .iconfont {
	width: .28rem;
	height: .28rem;
	display: inline-block;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	color: #fff;
	font-size: .24rem;
	text-align: center;
	background: #ff9600;
	margin-right: .05rem
}
.adj_select .adj_select_ul li.hqg .adj_select_ul_adc {
	margin-left: 1.04rem
}
.adj_select .adj_select_ul li.hqg label {
	margin-left: .24rem
}
.adj_select .adj_select_ul label {
	padding: 0 .24rem
}
.adj_select .adj_select_ul .adc_d2_price {
	position: absolute;
	right: .24rem;
	line-height: .38rem
}
.adj_select .adj_select_ul .adc_d2_price .price_t {
	font-size: .28rem;
	color: #333
}
.adj_select .adj_select_ul .adc_d2_price .price_s {
	font-size: .24rem;
	color: #999
}
.adj_select .adj_select_ul .adj_select_ul_adc img {
	display: inline-block;
	height: .4rem;
	vertical-align: bottom
}
.adj_select .adj_select_ul .adj_select_ul_adc p {
	line-height: .4rem
}
.adj_select .adj_select_ul .adj_select_ul_adc small {
	font-size: .24rem;
	color: #888;
	margin-left: .05rem
}
.adj_select .adj_select_ul .adj_select_ul_adc i::after {
	line-height: .9;
	vertical-align: text-top
}
.adj_select .adj_select_ul .adj_select_ul_adc b, .adj_select .adj_select_ul .adj_select_ul_adc i, .adj_select .adj_select_ul .adj_select_ul_adc span {
	vertical-align: text-top;
	line-height: 1
}
.adj_select .btn {
	margin: .24rem
}
.adj_select .all_pop_btn_div {
	display: flex
}
.adj_select .all_pop_btn_div>* {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.package_adj_hint {
	text-align: left;
	padding: .15rem .24rem;
	background: #fff4e9;
	word-wrap: break-word;
	clear: both
}
.package_adj_hint :first-child {
	margin-top: 0
}
.package_adj_hint :last-child {
	margin-bottom: 0
}
.package_adj_hint .fn_hint {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-moz-box-align: baseline;
	-ms-flex-align: baseline;
	-ms-grid-row-align: baseline;
	align-items: baseline
}
.package_adj_hint .fn_hint p {
	width: 90%;
	color: #333
}
.lookallgood {
	line-height: .84rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0 .24rem;
	color: #666;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between
}
.adj_msts, .adj_zdsp {
	line-height: .58rem;
	height: .58rem;
	padding: 0 .24rem
}
.lookallgood::after {
	font-family: iconfont!important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: .2px;
	-moz-osx-font-smoothing: grayscale;
	content: '\e60b';
	font-size: .35rem;
	margin-right: -.1rem
}
.adj_msts {
	font-size: .24rem;
	text-align: right;
	color: #666
}
.adj_zdsp span {
	padding-left: .94rem
}
.adj_zdsp span i {
	position: relative;
	top: .05rem;
	margin-right: .1rem;
	display: inline-block;
	width: .26rem;
	height: .26rem;
	background: url(../images/peisong.png) no-repeat;
	background-size: 100% auto
}
.hr1:last-child {
	border: 0
}
