@charset "utf-8";
.il_list>li p, .il_title>li p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden
}
header .top_back i {
	color: #333;
	font-size: .6rem;
	background: url(../images/lef.png);
    background-repeat: no-repeat;
    background-position: 0.12rem;
    width: 0.6rem;
    height: 0.8rem;
    background-size: 0.2rem;
}
.il_title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 1.14rem;
	border-bottom: 1px solid #c7c7cc
}
.il_list>li, .il_nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox
}
.il_title>li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: .8rem;
	text-align: center;
	border-left: .02rem solid #c7c7cc;
	line-height: .4rem
}
.il_title>li:first-child {
	border-left: none
}
.il_nav {
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: .2rem .2rem .3rem;
	-webkit-border-radius: .05rem;
	border-radius: .05rem;
	border: 1px solid #f22e00
}
.il_nav>a {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	display: block;
	border-left: .02rem solid #f22e00;
	height: .54rem;
	line-height: .54rem;
	color: #f22e00;
	-webkit-transition: .18s;
	-o-transition: .18s;
	transition: .18s
}
.il_nav>a:first-child {
	border-left: none
}
.il_nav .active {
	color: #fff;
	background: #f22e00
}
.il_list>li {
	line-height: .4rem;
	display: flex;
	height: 1.06rem;
	margin-left: .2rem;
	padding-right: .2rem;
	border-bottom: 1px solid #c7c7cc;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center
}
.il_list>li .td_l {
	color: #3c3c3c;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-moz-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}
.il_list>li .td_r {
	margin-left: .2rem;
	text-align: right;
	color: #6c6c6c;
	font-size: .24rem
}
.il_list>li .il_money {
	font-weight: 700;
	font-size: .36rem
}
.il_list .list_add .il_money {
	color: #79bc56
}
.il_list .list_add .il_money:before {
	content: '+'
}
.il_list .list_remove .il_money {
	color: #f22e00
}
.il_list .list_remove .il_money:before {
	content: '-'
}
.load_more {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: .68rem;
	color: #3c3c3c;
	font-size: .28rem;
	line-height: .68rem;
	text-align: center;
	margin: .2rem 0
}
.load_more i {
	width: .38rem;
	height: .38rem;
	margin-right: .2rem
}
